.searchBar {
  background-color: #99A1B333;
  width: 100%;
  height: 25px;

  border-radius: 15px;
  margin: 0 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  background-color: #99A1B333;
  width: 100%;
  height: 25px;

  border-radius: 15px;
  margin: 0 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}